/* button{
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: none;
	height: 30px;
	background-color: white;
} */
.MuiSvgIcon-root{
font-size: 20px;
	background-color: white;

}
.MuiSvgIcon-root :hover{
	cursor: pointer;
}